// colors
$primary: #3251f6;
$secondary: #efeff0;
$background: #f2f3f2;
$border-color: #adadad;
$text-color: #000;
$muted-text-color: #737373;
$error-color: #ff5c5c;

$font-size-base: 16px;

$border-radius-sm: 4px;
$border-radius-md: 8px;

// paddings for controls like buttons and inputs
$control-padding-y: 10px;
$control-padding-x: 20px;

$transition: 0.1s ease-in-out;
